@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'volkhov-regular';
  src: url(./assets/fonts/Volkhov-Regular.ttf);
}
@font-face {
  font-family: 'poppins-regular';
  src: url(./assets/fonts/Poppins-Regular.ttf);
}